<div class="text-center d-lg-none w-100">
    <button type="button" class="navbar-toggler">
        <span>&copy; 2021 - <a href="#" target="_blank">MediaDev</a></span>
    </button>
</div>

<div class="d-none d-lg-block w-100 navbar-text ">
    <div class="float-left">&copy; 2022 - <a href="#" target="_blank">MediaDev</a></div>
    <div class="float-right">Brought to you by MediaDev, Software development Team</div>
</div>
