{% extends 'Backend/layout.html.twig' %}

{% block body %}
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-sm-4 text-center">
                
                
            </div>
        </div>
    </div>

{% endblock %}
